<div class="body bg-white">    
    <div class="container">
        <div class="header">
            <div>
                <h1>Porfolio</h1>
            </div>
            <div>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, dolores debitis! Amet beatae
                    itaque veritatis ducimus corporis eveniet dolorum animi earum velit molestias architecto, recusandae
                    voluptate natus consectetur fugit voluptates.</h4>
            </div>
        </div>
        <div class="body">
            <div class="card-group">
                <div class="card">
                    <img src="https://images.pexels.com/photos/8783174/pexels-photo-8783174.jpeg?auto=compress&cs=tinysrgb&w=400"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda porro
                            veritatis id tenetur fugit iste illo dolores. Ea natus explicabo ad omnis accusamus animi,
                            est recusandae eos? Architecto, nesciunt eligendi?</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/8456607/pexels-photo-8456607.jpeg?auto=compress&cs=tinysrgb&w=400"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.pexels.com/photos/8783176/pexels-photo-8783176.jpeg?auto=compress&cs=tinysrgb&w=400"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>