<div class="bg-white py-4">
  <div class="container text-left">
    <div class="row">
      <div class="col-sm-4"><img class="rounded-circle rounded float-start" height="200" width="200"
          src="https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg?auto=compress&cs=tinysrgb&w=400"
          alt="...">
      </div>
      <div class="col-sm-8">
        <h5 class="card-title">This First Heading Will Catch Your Eye</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s</p>
      </div>
    </div>
  </div>
</div>